#body_link{
    background: rgb(129, 3, 14);
}
#logo_block{
    border:solid;
}
#logo_png{
    margin-top: 50px;
}
#login_heading{
    margin-top: 10px;
    color:white;
    text-align: center;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#sub_heading{
    color:white;
    text-align: center;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif
}

#logo_welcome{
    font-size:120px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

#card_holder{
    width: 40%;
    margin: auto;
    margin-top: 20px;
}
#field_set{
    width: 80%;
    margin: auto;
    margin-top: 5px;
}
/*
#background_div{
    background: rgb(174,137,181);
    background: linear-gradient(174deg, rgba(174,137,181,1) 0%, rgba(76,137,184,1) 100%);
    height: 100vh;
}
*/
#background_image{
    background: url("../images/login-default.jpg");
    position: center;
    background-size: cover;
    height: 10vh;
    width: 100%;
}


